@using ForumProject.Models
@model  AddingCommentViewModel
@{
    ViewBag.Title = "Add_New_Comment";
}

@*<h2>Add Comment</h2>

<div>@Model.topic.TopicName         @Model.topic.TopicTime        @Model.topic.ApplicationUser.Email        </div>





<div class="col-md-3 ">
    @using (Html.BeginForm("Add_New_Comment", "Topic"))
    {
            


        <div>
            <label>Comment content</label>
            <div>@Html.TextArea("CommentContent")</div>
        </div>


        <div>

            @Html.Hidden("CommentTime", DateTime.Now)
        </div>


        <div>

            @Html.Hidden("TopicID", Model.topic.TopicId)
        </div>

        

        <input class="btn btn-warning col-md-9" type="submit" value="Add New Comment" />


    }

</div>*@


<div class="container">
    <div class="row">
     <span class="h1">Add Comment </span> ,
       
        <table class="table">
           <thead>
               <tr>
                   <th>Topic Name</th>
                   <th>Topic Time</th>
                   <th>User</th>
               </tr>
           </thead>
            <tbody>
                <tr>
                    <td>@Model.topic.TopicName </td>
                    <td>@Model.topic.TopicTime </td>
                    <td>@Model.topic.ApplicationUser.Email </td>
                </tr>
            </tbody>
        </table>

       

    </div>

    <div class="row">
        @using (Html.BeginForm("Add_New_Comment", "Topic"))
        {

            <div class="form-horizontal">

                <div class="form-group">
                    <label>Comment content</label>
                    <div>@Html.TextArea("CommentContent")</div>
                </div>


                <div class="form-group">

                    @Html.Hidden("CommentTime", DateTime.Now)
                </div>


                <div class="form-group">

                    @Html.Hidden("TopicID", Model.topic.TopicId)
                </div>



                <input class="btn btn-warning col-md-9" type="submit" value="Add New Comment" />

            </div>
        }

    </div>






</div>